body {
  font-family: "Verdana", sans-serif;
  background: url("../images/waterbrush-body-bg.jpg") repeat-x;
}

.footer-art {
  height: 180px;
  background: url('../images/404.png') no-repeat bottom center;
}

.footer-grass {
  height: 39px;
  background-image: url('../images/grass.png');
  margin-top: -39px;
}

.footer {
  background: #d3d7cf;
  height: 100px;
}

.footer .grid_24 {
  text-align: center;
  margin-top: 30px;
  color: #676c72;
}

html, body {height: 100%;}

.footer {position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear:both;} 

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}